aside {
  max-width: max-content;
  min-height: 100vh;
}

.buttons {
  display: flex;
  gap: 10px;
}

fieldset {
  overflow: hidden;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #000;
}

label:has(input:required)::before,
label:has(select:required)::before {
  content: "*";
  color: red;
  margin: 0 0.2rem;
}

picture source,
picture img {
  width: 3rem;
}

div.card {
  transition: transform 0.3s;
}

div.card:hover {
  transform: scale(1.04);
}

.modal {
  backdrop-filter: blur(0.3rem);
}

.glass{
  background: #fafafa10;
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
}