body, nav {
  background: #e8e8e8;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100vw;
  height: 100%;
  z-index: -1;
}

.buttons {
  display: flex;
  gap: 10px;
}

fieldset {
  overflow: hidden;
}

legend {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #000;
}

picture source,
picture img {
  width: 3rem;
}

card:hover {
  transform: scale(1.04);
}
